@font-face {
  font-family: "Roboto";
  src: url(assets/fonts/Roboto-VariableFont_wdth\,wght.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(assets/fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf) format("truetype");
  font-style: italic;
}

:root {
  --font-size-base: 15px;

  /*
  --background-light-c: #3b2337;
  --background-medium-c: #331e2f;
  --background-dark-c: #21141f;
  --text-c: #FFF;
  --text-medium-c: #AAA;
  */

  --background-c: #f4f3f5;
  --background-light-c: #FFF;
  --background-highlight-c: #18161b22;
  --background-highlight-dark-c: #18161b33;
  --border-c: #d0c5dc;
  --text-c: #333;
  --text-medium-c: #666;
  --accent-c: #73D;
  --accent-success-c: #2B4;
  --accent-error-c: #B25;

  font-family: "Roboto", "Roboto Italic", Avenir, Helvetica, Arial, sans-serif;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-weight: 400;

  color: var(--text-c);
  background-color: var(--background-light-c);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-c: #000000;
    --background-light-c: #0c0c0e;
    --background-highlight-c: #e4d1ff33;
    --border-c: #242226;
    --text-c: #CCC;
    --text-medium-c: #888;
    --accent-c: #96D;
    --accent-success-c: #5D7;
    --accent-error-c: #B25;
  }
}

body {
  margin: 0;
  height: 100vh;
  display: table;
  clear: both;
  overflow: hidden;
  background-color: var(--background-c);
}

.no_scroll_bar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.title_bar_container {
  height: 36px;
  user-select: none;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: var(--background-c);
}

.titlebar-button {
  display: inline-flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 36px;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

.titlebar-button:hover {
  background: var(--background-highlight-c);
}

@media (prefers-color-scheme: dark) {
  .titlebar-button img {
      filter: invert() brightness(0.8);
    }
}

.titlebar-close:hover {
  background-color: var(--accent-error-c);
}

.titlebar-close:hover img {
  filter: invert();
}

.view {
  margin: 0;
  padding: 0;
  margin-top: 36px;
  height: calc(100vh - 36px);
  width: 100vw;
  display: grid;
  grid-template-columns: auto 1fr;
  position: relative;
}

.view_cover {
  background-color: var(--background-c);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

#loading_cover {
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(assets/consensus256.png);
}

#login_screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(assets/colours_background.jpeg);
  display: none;
}

#login_screen::before {
  content: "";
  display: block;
  width: 600px;
  height: 100vh;
  background-color: var(--background-c);
  border-right: 1px solid var(--text-c);
}

.login_form_container {
  height: 100%;
  width: max-content;
  max-width: 400px;
  position: absolute;
  top: 0;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

.login_form_container div {
  overflow-y: auto;
  max-height: 100%;
  padding-bottom: 32px;
}

.login_form_container div::-webkit-scrollbar {
  display: none;
}

.login_form_container div h1 {
  margin-top: 16px;
  font-weight: 900;
}

.login_form_container div p {
  font-style: italic;
}

form input[type=text], input[type=password], input[type=email] {
  width: 100%;
  font-size: var(--font-size-base);
  padding: 7px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid var(--text-c);
  background-color: var(--background-light-c);
  color: var(--text-c);
}

form input[type=submit], input[type=button] {
  width: 100%;
  font-size: var(--font-size-base);
  padding: 8px;
  margin-bottom: 8px;
  background-color: var(--background-highlight-c);
  color: var(--text-c);
  border: 1px solid var(--text-c);
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

form input[type=submit], input[type=button].highlighted {
  background-color: var(--accent-c);
  color: var(--background-c);
  padding: 9px;
  border: none;
}

form label {
  font-size: calc(var(--font-size-base) * 0.8);
  text-transform: uppercase;
  font-weight: 700;
  color: var(--text-medium-c);
}

form input[type=button]:hover {
  background-color: color-mix(in oklab, var(--background-highlight-c) 70%, var(--background-c) 30%);
}

form input[type=button].highlighted:hover {
  background-color: color-mix(in oklab, var(--accent-c) 90%, var(--background-c) 10%);
}

form input:invalid {
  border: 1px solid var(--accent-error-c);
}

a {
  color: var(--accent-c);
}



/*
  Left side bar
  contains server list, channel select and quick settings
*/

.left_sidebar {
  display: grid;
  grid-template-columns: 73px 1fr;
  /*position: absolute;
  top: 0;
  bottom: 0;*/
  padding-bottom: 64px;
  min-width: 265px;
  max-width: 433px;
  width: 350px;
  border-right: 1px solid var(--border-c);
  position: relative;
  height: calc(100vh - 100px);
  z-index: 1;
}

.resize_handle {
  position: absolute;
  top: 0;
  right: -3px;
  width: 6px;
  height: 100%;
  cursor: ew-resize;
  display: initial;
}

.server_bar {
  width: 72px;
  display: inline-block;
  grid-column: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.server_bar hr {
  margin: 0 auto;
  margin-bottom: 8px;
  width: 36px;
  border: none;
  border-top: solid 1px var(--border-c);
  box-sizing: border-box;
}

.server_icon {
  width: 40px;
  height: 40px;
  margin: 0px 16px 8px 16px;
  border: none;
  border-radius: 8px;
  transition: border-radius 0.25s;
  cursor: pointer;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  justify-content: center;
}

.server_icon span {
  position: absolute;
  left: 65px;
  top: 0;
  height: 40px;
  box-sizing: border-box;
  z-index: 99;
  background-color: var(--background-light-c);
  border: 1px solid var(--border-c);
  color: var(--text-c);
  padding: 10px 11px;
  font-size: 14.5px;
  font-weight: 600;
  border-radius: 8px;
  opacity: 0;
  display: none;
  transition: opacity 0.1s;
  width: max-content;
}

.server_icon:hover span {
  opacity: 1;
  display: block;
}

.main_sidebar {
  position: relative;
  grid-column: 2;
  width: 100%;
  border-top: 1px solid var(--border-c);
  border-left: 1px solid var(--border-c);
  border-top-left-radius: 10px;
  box-sizing: border-box;
  position: absolute;
  padding-bottom: 56px;
  top: 0;
  bottom: 64px;
}

.main_sidebar .header {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  padding: 0 12px;
  box-sizing: border-box;
  font-weight: 600;
  border-bottom: 1px solid var(--border-c);
  width: 100%;
  margin-bottom: 8px;
}

.header span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.main_sidebar_list {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.main_sidebar_list::-webkit-scrollbar {
  width: 3px;
}

/* Handle */
.main_sidebar_list::-webkit-scrollbar-thumb {
  background: var(--text-medium-c);
  border-radius: 3px;
}

.channel_button {
  width: calc(100% - 16px);
  margin: 2px 8px 0px 8px;
  padding: 5px 8px;
  box-sizing: border-box;
  color: var(--text-medium-c);
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.channel_button:hover {
  color: var(--text-c);
  background-color: var(--background-highlight-c);
}

.channel_button.active {
  font-weight: 500;
  background-color: var(--background-highlight-dark-c);
  color: var(--text-c);
}

.channel_button img {
  margin-right: 4px;
  height: 20px;
  filter: invert() brightness(0.4);
}

.channel_button.active img {
  filter: invert() brightness(0.2);
}

@media (prefers-color-scheme: dark) {
  .channel_button img {
      filter: invert() brightness(0.6);
    }
  
    .channel_button.active img {
      filter: invert() brightness(0.8);
    }
}



.sidebar_settings_container {
  position: absolute;
  left:0;
  right: 0;
  bottom: 0;
  background-color: var(--background-c);
  height: 64px;
}

.sidebar_settings {
  position: absolute;
  left: 8px;
  right: 8px;
  bottom: 8px;
  height: 54px;
  width: calc(100% - 16px);
  background-color: var(--background-light-c);
  border: 1px solid var(--border-c);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr auto;
}



.sidebar_settings .account_area {
  margin: 8px;
  margin-right: 0;
  padding: 0;
  border-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 38px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  transition: background-color 0.1s;
  cursor: pointer;
  text-align: start;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.sidebar_settings .account_area:hover {
  background-color: var(--background-highlight-c);
}

.sidebar_settings .account_area img {
  height: 100%;
  border-radius: 38px;
  display: inline-block;
}

.sidebar_settings .account_area div {
  margin-left: 8px;
  display: inline-block;
  text-wrap: nowrap;
  overflow-x: hidden;
}

.sidebar_settings .quick_settings {
  vertical-align: middle;
  margin: 8px 8px 8px 0;
  padding: 2px 0 2px;
  height: 38px;
  float: right;
  box-sizing: border-box;
}

.sidebar_settings .quick_settings button {
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  margin-left: 4px;
  border: none;
  background-color: transparent;
  border-radius: 4px;
  transition: background-color 0.1s;
  cursor: pointer;
  color: var(--text-medium-c);
}

.sidebar_settings .quick_settings button:hover {
  background-color: var(--background-highlight-c);
}


/* Main view panel, holds server, dm and friends view*/

.main_container {
  border-top: 1px solid var(--border-c);
  background-color: var(--background-light-c);
}



.main_panel {
  background-color: var(--background-c);
}

.main_panel .header {
  height: 48px;
  line-height: 48px;
  padding: 0 12px;
  box-sizing: border-box;
  font-weight: 600;
  border-bottom: 1px solid var(--border-c);
  color: var(--text-medium-c);
  background-color: var(--background-light-c);
}
