@font-face {
  font-family: "Roboto";
  src: url(assets/fonts/Roboto-VariableFont_wdth\,wght.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(assets/fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf) format("truetype");
  font-style: italic;
}

:root {
  --font-size-base: 16px;

  /*
  --background-light-c: #3b2337;
  --background-medium-c: #331e2f;
  --background-dark-c: #21141f;
  --text-c: #FFF;
  --text-medium-c: #AAA;
  */

  --background-light-c: #FFF;
  --background-medium-c: #f4f3f5;
  --background-dark-c: #e5e3e8;
  --text-c: #333;
  --text-medium-c: #666;
  --accent-c: #73D;
  --accent-success-c: #2B4;
  --accent-error-c: #B25;

  font-family: "Roboto", "Roboto Italic", Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--text-c);
  background-color: var(--background-medium-c);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-light-c: #000;
    --background-medium-c: #111;
    --background-dark-c: #222;
    --text-c: #FFF;
    --text-medium-c: #BBB;
    --accent-c: #96D;
    --accent-success-c: #5D7;
    --accent-error-c: #B25;
  }
}

body {
  margin: 0;
  height: 100vh;
  display: table;
  clear: both;
  overflow: hidden;
  background-color: var(--background-dark-c);
}

.view {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 73px 1fr;
}

.view_cover {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-light-c);
  position: absolute;
  top: 0;
}

#loading_cover {
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(assets/consensus256.png);
}

#login_screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(assets/colours_background.jpeg);
}

#login_screen::before {
  content: "";
  display: block;
  width: 600px;
  height: 100vh;
  background-color: var(--background-light-c);
  border-right: 1px solid var(--text-c);
}

.login_form_container {
  height: 100%;
  width: max-content;
  max-width: 400px;
  position: absolute;
  top: 0;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_form_container div h1 {
  margin-top: 0;
  font-weight: 900;
}

.login_form_container div p {
  font-style: italic;
}

form input[type=text], input[type=password] {
  width: 100%;
  font-size: var(--font-size-base);
  padding: 7px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid var(--text-c);
  background-color: var(--background-medium-c);
  color: var(--text-c);
}

form input[type=submit], input[type=button] {
  width: 100%;
  font-size: var(--font-size-base);
  padding: 8px;
  margin-top: 16px;
  background-color: var(--accent-c);
  color: var(--background-light-c);
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

form label {
  font-size: calc(var(--font-size-base) * 0.8);
  text-transform: uppercase;
  font-weight: 700;
  color: var(--text-medium-c);
}

form input[type=submit]:hover {
  background-color: color-mix(in oklab, var(--accent-c) 90%, var(--background-light-c) 10%);
}

a {
  color: var(--accent-c);
}



/* Server Bar */
.server_bar {
  margin: 0;
  width: 72px;
  background-color: var(--background-dark-c);
  height: 100vh;
  display: inline-block;
  border-right: 1px solid var(--text-c);
}

.server_bar hr {
  margin: 0 auto;
  width: 48px;
  border: none;
  border-top: solid 1px var(--text-medium-c);
  box-sizing: border-box;
}

.server_icon {
  width: 48px;
  height: 48px;
  margin: 8px 12px 0px 12px;
  border: none;
  border-radius: 24px;
  transition: border-radius 0.25s;
  cursor: pointer;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  justify-content: center;
}

.server_icon span {
  position: absolute;
  left: 65px;
  top: 8px;
  z-index: 99;
  background-color: var(--background-light-c);
  color: var(--text-c);
  padding: 8px 11px;
  font-size: 14.5px;
  font-weight: 600;
  border-radius: 4px;
  opacity: 0;
  display: none;
  transition: opacity 0.1s;
  width: max-content;
}

.server_icon:hover span {
  opacity: 1;
  display: block;
}

.server_icon:hover {
  border-radius: 12px;
}



/* Main view panel, holds server, dm and friends view*/

.main_container {
  height: 100vh;
  width: calc(100vw - 73px);
  display: grid;
  grid-template-columns: 240px 1fr;
}

.main_sidebar {
  background-color: var(--background-medium-c);
  position: relative;
  border-right: 1px solid var(--text-c);
  box-sizing: border-box;
}

.main_sidebar .header {
  height: 48px;
  line-height: 48px;
  padding: 0 12px;
  box-sizing: border-box;
  font-weight: 600;
  border-bottom: 1px solid var(--text-medium-c);
}

.header span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.main_sidebar_list {
  height: calc(100% - 54px - 48px);
  overflow-x: hidden;
  overflow-y: auto;
}

.main_sidebar .sidebar_settings {
  height: 54px;
  width: 100%;
  background-color: var(--background-dark-c);
  position: absolute;
  bottom: 0;
  border-top: 1px solid var(--text-c);
}

.sidebar_settings .account_area {
  margin: 8px;
  padding: 2px;
  width: 50%;
  border-radius: 4px;
  height: 38px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  transition: background-color 0.25s;
  cursor: pointer;
  text-align: start;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 13px;
  display: inline-block;
}

.sidebar_settings .account_area:hover {
  background-color: var(--background-light-c);
}

.sidebar_settings .account_area img {
  height: 100%;
  border-radius: 38px;
  display: inline-block;
}

.sidebar_settings .account_area div {
  width: 74px;
  display: inline-block;
  text-wrap: nowrap;
  overflow-x: hidden;
}

.sidebar_settings .quick_settings {
  vertical-align: middle;
  margin: 8px 8px 8px 0;
  padding: 2px 0 2px;
  height: 38px;
  float: right;
  box-sizing: border-box;
}

.sidebar_settings .quick_settings button {
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  border-radius: 4px;
  transition: background-color 0.25s;
  cursor: pointer;
  color: var(--text-medium-c);
}

.sidebar_settings .quick_settings button:hover {
  background-color: var(--background-light-c);
}

.main_panel {
  background-color: var(--background-light-c);
}

.main_panel .header {
  height: 48px;
  line-height: 48px;
  padding: 0 12px;
  box-sizing: border-box;
  font-weight: 600;
  border-bottom: 1px solid var(--text-medium-c);
  color: var(--text-medium-c);
}
