:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --background-light-c: #3b2337;
  --background-medium-c: #331e2f;
  --background-dark-c: #21141f;
  --text-c: #FFF;
  --text-medium-c: #AAA;


  color: var(--text-c);
  background-color: var(--background-medium-c);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }
}

body {
  margin: 0;
  height: 100vh;
  display: table;
  clear: both;
  overflow: hidden;
  background-color: var(--background-dark-c);
}

.view {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 72px 1fr;
}

.loading_cover {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-light-c);
  position: absolute;
  top: 0;
}

.server_bar {
  margin: 0;
  width: 72px;
  background-color: var(--background-dark-c);
  height: 100vh;
  display: inline-block;
}

.server_bar hr {
  margin: 0 auto;
  width: 32px;
  border: solid 1px var(--background-light-c);
}

.server_icon {
  width: 48px;
  height: 48px;
  margin: 8px 12px 0px 12px;
  border: none;
  border-radius: 24px;
  transition: border-radius 0.25s;
  cursor: pointer;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  justify-content: center;
}

.server_icon span {
  position: absolute;
  left: 65px;
  top: 10px;
  z-index: 99;
  background-color: #111;
  color: #FFF;
  padding: 5px 8px;
  font-size: 14.5px;
  font-weight: 600;
  border-radius: 4px;
  opacity: 0;
  display: none;
  transition: opacity 0.1s;
  width: max-content;
}

.server_icon:hover span {
  opacity: 1;
  display: block;
}

.server_icon:hover {
  border-radius: 12px;
}

.main_container {
  height: 100vh;
  width: calc(100vw - 72px);
  display: grid;
  grid-template-columns: 240px 1fr;
}

.main_sidebar {
  background-color: var(--background-medium-c);
  position: relative;
}

.main_sidebar .header {
  height: 48px;
  box-shadow: 0px 2px 2px black;
  line-height: 48px;
  padding: 0 12px;
  box-sizing: border-box;
  font-weight: 600;
}

.header span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.main_sidebar_list {
  height: calc(100% - 54px - 48px);
  overflow-x: hidden;
  overflow-y: auto;
}

.main_sidebar .sidebar_settings {
  height: 54px;
  width: 100%;
  background-color: var(--background-dark-c);
  position: absolute;
  bottom: 0;
}

.sidebar_settings .account_area {
  margin: 8px;
  padding: 2px;
  width: 50%;
  border-radius: 4px;
  height: 38px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  transition: background-color 0.25s;
  cursor: pointer;
  text-align: start;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 13px;
  display: inline-block;
}

.sidebar_settings .account_area:hover {
  background-color: var(--background-light-c);
}

.sidebar_settings .account_area img {
  height: 100%;
  border-radius: 38px;
  display: inline-block;
}

.sidebar_settings .account_area div {
  width: 74px;
  display: inline-block;
  text-wrap: nowrap;
  overflow-x: hidden;
}

.sidebar_settings .quick_settings {
  vertical-align: middle;
  margin: 8px 8px 8px 0;
  padding: 2px 0 2px;
  height: 38px;
  float: right;
  box-sizing: border-box;
}

.sidebar_settings .quick_settings button {
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  border-radius: 4px;
  transition: background-color 0.25s;
  cursor: pointer;
  color: var(--text-medium-c);
}

.sidebar_settings .quick_settings button:hover {
  background-color: var(--background-light-c);
}

.main_panel {
  background-color: var(--background-light-c);
}

.main_panel .header {
  height: 48px;
  box-shadow: 0px 2px 2px black;
  line-height: 48px;
  padding: 0 12px;
  box-sizing: border-box;
  font-weight: 600;
}
